<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Flower Image Classification</title>
</head>
<body >
    <header>
        <h1 >Flower Image Classification</h1>
    </header>
    
    <form id ="imageForm" action="/predict" method="post" enctype="multipart/form-data">
        
        
        <section calss= "image-input-section" style = "text-align: center"> 
        <label for="imageInput">Input an Image:</label>
        <input type="file" name="imageInput" id="imageInput" accept=".jpg, .jpeg, .png" required placeholder="upload a image">
        </section>


        <section class = "submit-section">
        <button type="submit">Submit</button>
        </section>

    </form>

    <section class ="submit-section">
        <h2>Result:</h2>
        <p id="reslutText">{{ prediction }}</p>
    </section>

</body>
</html>
